body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: #ECEFF1;
}
header {
   background-color: #37474f;
   height: 80px;
    padding: 15px 0 5px 25px;
}
header h1 {
    font-size: 32px;
    color: white;
    margin: auto 0;
}
header h1 span {
    color: #ff6e40;
}

header nav {
    margin: 30px 15px 10px 10px;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

figure {
     margin: 0;
    padding: 0;
}

.button {
    padding: 0.5em;
    background-color: white;
    color: white;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 1s;
}



.container {
  max-width: 1400px;
  margin: 1em auto;
}



.card {
	background: white;
	margin-bottom: 2em;	
    padding: 0;
    width: 24%;
}

.card a {
	color: black;
	text-decoration: none;
}



.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: 90%;    
}

.card-actions {
	padding: 0.5em 1.4em;
	font-size: 90%;       
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card a img {
    width: 100%;
    filter: saturate(0.5);
}

.card:hover a div .button {
        background-color: #FF3D00;
}

.card:hover{
    box-shadow: 5px 5px 10px #37474f;
    filter: saturate(2.5);
}

@media only screen and (max-width: 768px) {

    .card {
        background: white;
        margin-bottom: 2em;	
        padding: 0;
        width: 49%;
    }
}
@media only screen and (max-width: 480px) {

    .card {
        background: white;
        margin-bottom: 2em;	
        padding: 0;
        width: 100%;
    }
}

